<br><br>
<form #f class="form-horizontal" [formGroup]="formulario">

    <div class="form-group">
      <label for="nome">Nome</label>
      <input formControlName="nome" type="text" class="form-control" id="nome" placeholder="Digite seu nome">
      <!--div class="alert alert-danger" role="alert">
          Nome é obrigatório
      </div-->
    </div>
  
    <div class="form-group">
      <label for="email">Email</label>
      <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="nome@email.com">
      <!--div class="alert alert-danger" role="alert">
          Email inválido
      </div-->
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>

  <app-form-debug [form]="formulario"></app-form-debug>
</form>