<br><br>
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input name="nome" type="text" class="form-control" id="nome" placeholder="Digite seu nome" [(ngModel)]="usuario.nome" required #nome="ngModel">
    
    <div class="alert alert-danger" role="alert" *ngIf="!nome.valid && nome.touched">
        Nome é obrigatório
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="nome@email.com" [(ngModel)]="usuario.email" required email #email="ngModel">
    <div class="alert alert-danger" role="alert" *ngIf="!email.valid && email.touched">
        Email inválido
    </div>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>