<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a routerLink="" class="navbar-brand">Forms Angular</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
          <a routerLink="/templateForm" class="nav-item nav-link" routerLinkActive="active">Form Template</a>
          <a routerLink="/dataForm" class="nav-item nav-link" routerLinkActive="active">Form Reativo</a>
          </div>
      </div>
  </nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>